@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: radial-gradient(circle at 25% 25%, #1e293b, #0a0a0a 70%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    @apply font-sans text-white antialiased;
}

section {
    background: transparent;
}

